body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4CAF50; /* Adjusted to match the screenshot's background color */
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3C6E71; 
    padding: 10px 20px;
}
.nav-con{
    display: flex;
    gap: 30px;
}
.profile-icon {
    gap: 1000px;
}


.intro h1 {
    font-size: 2.5em;

}
.intro{
    margin-top: 200px ;
    align-content: center;
    margin-left: 500px;
}

.intro p {
    font-size: 1.2em;
}

.intro button {
    background-color: #FF7043; /* Orange button color */
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 200px;
}

.intro button:hover {
    background-color: #FF5722; /* Darker shade on hover */
}

footer {
    background-color: #3C6E71;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
